aiosqlite==0.17.0
altgraph==0.17.2
anyio==3.5.0
asgiref==3.5.0
atlastk==0.13
cffi==1.15.0
click==8.0.4
cryptography==36.0.1
Deprecated==1.2.13
fastapi==0.74.0
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
httptools==0.3.0
idna==3.3
importlib-metadata==4.11.1
iso8601==0.1.16
Nuitka==0.7
packaging==21.3
pycparser==2.21
pydantic==1.9.0
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
PyJWT==2.3.0
pyparsing==3.0.7
pypika-tortoise==0.1.3
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
redis==4.1.4
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
tortoise-orm==0.18.1
typing_extensions==4.1.1
uvicorn==0.17.5
uvloop==0.16.0
watchgod==0.7
websockets==10.1
wrapt==1.13.3
zipp==3.7.0
